.main-cart-footer {
  position: absolute;
  top: -5214px;
}

.Footer-bg-cart {
  width: 1512px;
  height: 400px;
  position: absolute;
  top: 6478px;
}

.Footer-socials-cart {
  display: flex;
  width: 300px;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 120px;
  bottom: -6817px;
}

.socials-cart {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  flex: 1 0 0;
  color: #fff;

  /* Headline Small */
  font-family: Nexa;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.social2-cart {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.social3-cart {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.f-b-cart {
  position: absolute;
  left: 91px;
  top: 84px;
}

.t-w-cart {
  position: absolute;
  left: 155px;
  top: 84px;
}

.i-g-cart {
  position: absolute;
  left: 27px;
  top: 84px;
}

.y-b-cart {
  position: absolute;
  left: 219px;
  top: 84px;
}

.footer-mail-cart {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.footer-mail1-cart {
  align-self: stretch;
  color: #fff;

  /* Title Large */
  font-family: Nexa;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

.footer-mail2-cart {
  align-self: stretch;
  color: #fff;

  /* Body Large */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
}

.footer-inc-cart {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  height: 24px;
  flex: 1 0 0;
  color: #fff;

  /* Body Large */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
}

.Footer-trend-cart {
  display: flex;
  width: 300px;
  height: 244px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  left: 552px;
  top: 6537px;
}

.Footer-trend-link-cart {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--white, #fff);

  /* Headline Medium */
  font-family: Nexa;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 128.571% */
}

.Footer-trend-league-cart {
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  color: #fff;

  /* Title MEDIUM */
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

.Footer-trend-euro-cart {
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  color: #fff;

  /* Title MEDIUM */
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

.Footer-trend-kits-cart {
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  color: #fff;

  /* Title MEDIUM */
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

.Footer-trend-pol-cart {
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  color: #fff;

  /* Title MEDIUM */
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

.Footer-trend1-cart {
  display: flex;
  width: 300px;
  height: 244px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  left: 923px;
  top: 6537px;
}

.Footer-trend1-use-cart {
  display: flex;
  width: 372px;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: #fff;

  /* Title MEDIUM */
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

.Footer-trend1-pri-cart {
  display: flex;
  width: 372px;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: #fff;

  /* Title MEDIUM */
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

.Footer-trend1-us-cart {
  display: flex;
  width: 372px;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: #fff;

  /* Title MEDIUM */
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}

.Footer-trend1-play-cart {
  display: flex;
  width: 372px;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: #fff;

  /* Title MEDIUM */
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}
