.Top-Heading {
  display: flex;
  width: 300px;
  height: 80px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  flex: 1 0 0;
  color: var(--Primary, #3d78ac);
  font-family: Nexa;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  position: absolute;
  top: 3256px;
  left: 513px;
}

.Messi-card {
  display: grid;
  width: 795px;
  height: 843px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 64px;
  background: #fff;
  box-shadow: 0px 5px 22px 5px rgba(0, 0, 0, 0.12);
  position: relative;
  left: 578px;
  top: 135px;
}

.Messi-card:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #3d78ac;
  transform: scale(1.01);
  transition: all 0.5s;
  cursor: pointer;
}

.Messi-main-img {
  height: 487px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 64px;
  background: url(<./Messi.png>), lightgray 50% / cover no-repeat;
}

.Messi-iconplay {
  position: absolute;
  left: 391px;
  top: 234px;
}

.Messi-btn {
  fill: rgba(255, 255, 180, 0.75);
  left: 331px;
  top: -321px;
  position: relative;
}

.Messi-card-details {
  display: flex;
  padding: 16px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.Messi-btns {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  gap: 16px;
  position: relative;
  top: -135px;
}

.Messi-btn1 {
  display: flex;
  width: 142px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #000;
  flex: 1 0 0;
  color: #000;
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.09px;
  position: relative;
  top: -37px;
}

.Messi-btn2 {
  display: flex;
  width: 142px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #000;
  flex: 1 0 0;
  color: #000;
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.09px;
  position: relative;
  top: -37px;
}

.Messi-card-text {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  color: #000;

  /* Display Small */
  font-family: Nexa;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px; /* 122.222% */
  position: relative;
  top: -157px;
  left: 0px;
  text-decoration: none;
}

.Messi-card-text1 {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  color: #000;

  /* Body Large */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
  position: relative;
  top: -148px;
}

.Messi-comments {
  display: flex;
  padding: 0px 8px;
  align-items: center;
  gap: 16px;
  position: relative;
  top: -145px;
}

.Messi-comments1 {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  color: #000;

  /* body large 1 */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
}

.Messi-comments2 {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  color: #000;

  /* body large 1 */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
}
