.Middle-main-card {
  display: flex;
  width: 390px;
  height: 560px;
  padding-bottom: 0px;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #fff;

  /* 8dp preunmbra */
  box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.12);
}

.Middle-main-card:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #3d78ac;
  transform: scale(1.01);
  transition: all 0.5s;
  cursor: pointer;
}

.main-img1 {
  height: 284px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 32px;
  background: url(<./Ronaldo>), lightgray 50% / cover no-repeat;
}

.btnz {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  gap: 16px;
}

.btnz1 {
  display: flex;
  width: 116px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #000;
  flex: 1 0 0;
  color: #000;

  /* body large 1 */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
}

.btnz2 {
  display: flex;
  width: 89px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #000;
  flex: 1 0 0;
  color: #000;

  /* body large 1 */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
}

.card-text1 {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  color: #000;

  /* Headline Small */
  font-family: Nexa;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.commentz {
  display: flex;
  align-items: center;
  gap: 16px;
}

.commentz1 {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  color: #000;

  /* body large 1 */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
}

.commentz2 {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  color: #000;

  /* body large 1 */
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.09px;
}

.card1 {
  top: 1952px;
  position: absolute;
  left: 567px;
}

.card2 {
  top: 1952px;
  position: absolute;
  left: 982px;
}

.card3 {
  top: 2540px;
  position: absolute;
  left: 567px;
}

.card4 {
  top: 2540px;
  position: absolute;
  left: 982px;
}
